
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Stephanie Dacre</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">About</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#connect">Connect</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="particles-js">
</div>
<h1 class="banner">Hi, my name is Stephanie.<br>
I build websites.
</h1> 

<main>
  <div class ="container-fluid bg-white" id="about">
    <h2 class="about title">About</h1>
     <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1 col-xl-1">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xl-5">
        <%= image_tag ("codinphoto.png"), :class => "profile-icon", :alt => "emoji of me"%>
        <h4 class="profile-desc">
        <i class="fas fa-laptop"></i>  I'm a full-stack web developer in Victoria, BC.<br><br>
        <i class="far fa-gem"></i>  I <em>love</em> Ruby on Rails, & UX/UI.<br><br>
        <i class="fas fa-leaf"></i>  I also love running, plants & coffee<br><br>
        <i class="fas fa-chart-line"></i>  I'm currently looking for a full time position in a growth centric company.<br><br>
        <i class="fas fa-code"></i>  In the meantime, <span class="underline--magical"><a href="#connect">I'm freelancing!</a><br></span>
        </h4>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 skills" id="center">
        <h3>Stack</h1>
        <div class="skillBox">
          <p>Html5</p>
          <p>80%</p>
            <div class="skill">
              <div class="skill_level" style="width: 80%">
              </div>
            </div>
        </div>
        <div class="skillBox">
          <p>Css3</p>
          <p>70%</p>
          <div class="skill">
            <div class="skill_level" style="width: 70%">
            </div>
          </div>
        </div>
        <div class="skillBox">
          <p>Javascript & Jquery</p>
          <p>60%</p>
          <div class="skill">
            <div class="skill_level" style="width: 60%">
            </div>
          </div>
        </div>
        <div class="skillBox">
          <p>Ruby on Rails</p>
          <p>75%</p>
          <div class="skill">
              <div class="skill_level" style="width: 75%">
              </div>
          </div>
        </div>
        <div class="skillBox">
          <p>React</p>
          <p>50%</p>
          <div class="skill">
              <div class="skill_level" style="width: 50%">
              </div>
          </div>
        </div> 
      </div>
      <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1 col-xl-1">
    </div>
  </div>

  <div class ="container-fluid bg-orange" id="work">
    <svg preserveAspectRatio="none" viewBox="0 0 100 102" height="75" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
      <path d="M0 0 L50 100 L100 0 Z" fill="white" stroke="white"></path>
    </svg>
    <h2 class="title">Work</h2>
    <div class="row section-info">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 card">
      <%= image_tag ("card1.jpg"), :class => "card image", :alt => "Chase Contracting website photo"%>
        <div class="middle">
          <a href="http://www.chasecontractingltd.com/" target="_blank">
            <div class="text">Chase Contracting <span class="glyphicon glyphicon-new-window"></span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 card">
      <%= image_tag ("card2.jpg"), :class => "card image", :alt => "Marine Art by Dale website photo"%>
        <div class="middle">
          <a href="https://marineartbydale.com/" target="_blank">
            <div class="text">Marine Art by Dale <span class="glyphicon glyphicon-new-window"></span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 card">
      <%= image_tag ("card3.jpg"), :class => "card image" , :alt => "Elemental Colour website photo"%>
        <div class="middle">
          <a href="https://elementalcolour.com/" target="_blank">
            <div class="text">Elemental Colour <span class="glyphicon glyphicon-new-window"></span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 card">
      <%= image_tag ("card4.jpg"), :class => "card image", :alt => "NoGunGang website photo"%>
        <div class="middle">
          <a href="https://nogungang.com/" target="_blank">
            <div class="text">No Gun Gang <span class="glyphicon glyphicon-new-window"></span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 card">
      <%= image_tag ("card5.jpg"), :class => "card image", :alt => "Organic Candy website photo"%>
        <div class="text middle">COMING SOON
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 card">
      <%= image_tag ("card6.jpg"), :class => "card image", :alt => "Gledstone Upholstery website photo"%>
        <div class="middle">
          <a href="http://www.gledstoneupholstery.com/" target="_blank">
            <div class="text">Gledstone Upholstery <span class="glyphicon glyphicon-new-window"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class ="container-fluid bg-white" id="connect">
     <svg preserveAspectRatio="none" viewBox="0 0 100 102" height="75" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
      <path d="M0 0 L50 100 L100 0 Z" fill="#FED99B" stroke="#FED99B"></path>
    </svg>
    <div class="title"><h2>Connect</h2>
    </div>
      <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1 col-xl-1">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xl-5">
      <h3 class="collab"><%= image_tag ("collaborations_questions.png"), :class => "collaborations", :alt => ""%></h3>
      </div>
      <div class="connect-info col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xl-5">
        <p>I am available for freelance projects and full-time employment.<br><br>
        Stephanie Dacre<br>
        <span class="glyphicon glyphicon-envelope"></span>: stephdacre@gmail.com<br>
        <i class="fas fa-phone"></i>  : 250-505-4654<br>
        </p>
        <i class="fab fa-instagram"></i>: @codingnomad<br>
      <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1 col-xl-1">
      </div>
    </div>
  </div>
</main>
  <div id="footer">
    <div class="container">
      <p class="text-muted credit">This site was built with <span class="glyphicon glyphicon-heart-empty"></span> & Rails by Stephanie Dacre</p>
    </div>
  </div>





